#!/bin/bash

PID_FILE=[% kb_top %]/services/awe_service/service.pid
AWE_CONFIG=[% kb_top %]/services/awe_service/conf/awe.cfg

echo "[% kb_runtime %]/sbin/daemonize -v -p $PID_FILE [% kb_top %]/bin/awe-server -conf $AWE_CONFIG"
[% kb_runtime %]/sbin/daemonize -v -p $PID_FILE [% kb_top %]/bin/awe-server -conf $AWE_CONFIG
