#!/bin/bash

AWE_DIR=[% kb_top %]/services/awe_service
PID_FILE=$AWE_DIR/service.pid
AWE_CONFIG=[% kb_top %]/services/awe_service/conf/awe.cfg

echo "[% kb_runtime %]/sbin/daemonize -v -o $AWE_DIR/awes-start.log -e $AWE_DIR/awes-start.log -p $PID_FILE [% kb_top %]/bin/awe-server -conf $AWE_CONFIG"
[% kb_runtime %]/sbin/daemonize -v -o $AWE_DIR/awes-start.log -e $AWE_DIR/awes-start.log -p $PID_FILE [% kb_top %]/bin/awe-server -conf $AWE_CONFIG
